<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!-- <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=azure532;AccountKey=CDWqnTFabUt4lgraMzsl5bTCvTOD7u2bmmXaRwya4mB9/zDcLnARKmonZBFI5phwroAHEtSu/+992oo7Ml2uuw=="/>  -->

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nesvleintstore;AccountKey=OHsjChZiRcq2mZIcuwIJNLQP4yLl4GJhkgjHl0Q2rlQf79y4+w+4R8YDWuSTuUMcFehRtdJu2KVXLAcCkCRuag=="/>


    
    
  </appSettings>
</configuration>