
@{
    ViewBag.Title = "GetDataFromAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetDataFromAccess</h2>

<p><strong>Data from Access</strong></p>


<p>@ViewBag.ConnectionString</p>
<p>@ViewBag.AccessData</p>
<p> @ViewBag.ErrorMsg"</p>